<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kekw.Properties.Settings.IOOP_AssignmentConnectionString"
            connectionString="Data Source=LAPTOP-6G4HL01P\SQLEXPRESS;Initial Catalog=IOOP_Assignment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="kekw.Properties.Settings.IOOP_AssignmentConnectionString1"
            connectionString="Data Source=DELL-PC\SQLEXPRESS;Initial Catalog=IOOP_Assignment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>